body {
    background-color: #E9ECEF;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

table {
    width: 100%;
    height: 100%;
}

th, td {
    padding: 3px;
    border: 1px solid black;
}