<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <title>Методы Класса Object</title>
</head>

<body>
<!-- Header -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/author">Автор</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">О проекте <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="">Кинуть Печеньку</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="color: white">Памятка</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/oop">ООП</a>
                    <a class="dropdown-item" href="/object-methods">Методы Класса Object</a>
                    <a class="dropdown-item" href="/collections">Коллекции</a>
                    <a class="dropdown-item" href="/stream-api">Stream API</a>
                    <a class="dropdown-item" href="/multithreading">Многопоточность</a>
                    <a class="dropdown-item" href="/sql">SQL</a>
                    <a class="dropdown-item" href="/jdbs">JDBC</a>
                    <a class="dropdown-item" href="/orm">ORM</a>
                    <a class="dropdown-item" href="/jpa">JPA</a>
                    <a class="dropdown-item" href="/spring">Spring</a>
                    <a class="dropdown-item" href="/rest">REST</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Main Content -->
<div class="main-content">
    <br>
    <br>
    <br>
    <div class="container">
        <h1>Методы Класса Object</h1>
        <p>
            Класс Object - класс от которого не явно наследуются все классы в Java.
            Соответственно все классы в java из коробки имеют такие методы:
        <ul>
            <li>toString()</li>
            <li>getClass()</li>
            <li>equals()</li>
            <li>hashCode()</li>
            <li>+ методы связанные с многопоточностью</li>
        </ul>
        </p>

        <br>
        <p>
            toString() - возращает представление обЬекта в виде строки.
            Из коробки это представление вряд ли может быть хорошим описанием обЬекта по этому его переопределяют.
        </p>
        <p>
            getClass() - позволяет узнать тип обЬекта
            (вернет "class " + Имя класса екземпляром которого является проверяемый обЬект).
        </p>
        <p>
            equals() - сравнивает обЬекты по их ссылкам(Работает как == с обЬектами).
            Для сравнения обЬектов по их внутреннему содержимому метод нуждается в переопределении.
            Если переопределяется equals() должен быть переопределен и hashCode().
        </p>
        <p>
            hashCode() - метод для оптимизации сравнения обЬектов. Работает быстрее тяжеловесного equals().
            По умолчанию возращает цифровое представление адреса памяти обЬекта. Если был переопределен equals(),
            должен быть переопределен hashCode(). В вычислении нового хэша должны участвовать те же поля по которым
            у нас происходит сравнение в переопределенном equals().
            Если хэши обЬектов не равны обЬекты гарантированно разные. Если равны имеет смысл проверить их по equals()
            чтобы убедится что они действительно равны, а не имеет место быть ситуация когда у обЬектов с различным
            содержимым просто совпали хэши(коллизия). Таким образом мы не используем тяжелый equals() каждый раз
            при сравнении. Если таким образом сравнивается 5 обЬектов может оно и не сильно заметно однако если их 5
            миллионов я думаю польза hashCode() становится очевидна. Такой механизм сравнения обЬектов в java используют
            коллекции основанные на хэшах. Соответственно, если не соблюдать правила переопределения equals() и
            hashCode() упомянутые выше коллекции будут работать не корректно.
        </p>
    </div>
</div>

<!-- Comments -->
<div>
    <div class="container">
        <h1>Комментарии</h1>

        <!-- New Comment -->
        <form action="/comments" method="post">
            <input type="number" name="id" value="0" hidden>
            <input type="text" name="pageName" value="object-methods" hidden>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <input type="text" class="form-control" placeholder="Автор" name="userName">
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <textarea type="text" class="form-control" placeholder="Творение" name="comment"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <button type="submit" class="btn btn-dark float-right">Смыть</button>
                </div>
            </div>
        </form>

        <!-- Saved Comments -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" th:each="comment : ${comments}">
            <h3 th:text="${comment.userName}"></h3>
            <p th:text="${comment.comment}"></p>
        </div>

    </div>
</div>

<!-- Footer -->
<footer class="container text-center">
    <p>© ProstoSasha</p>
</footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>
