<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <title>ООП</title>
</head>

<body>
<!-- Header -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/author">Автор</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">О проекте <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="">Кинуть Печеньку</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="color: white">Памятка</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/oop">ООП</a>
                    <a class="dropdown-item" href="/object-methods">Методы Класса Object</a>
                    <a class="dropdown-item" href="/collections">Коллекции</a>
                    <a class="dropdown-item" href="/multithreading">Многопоточность</a>
                    <a class="dropdown-item" href="/sql">SQL</a>
                    <a class="dropdown-item" href="/jdbs">JDBC</a>
                    <a class="dropdown-item" href="/orm">ORM</a>
                    <a class="dropdown-item" href="/jpa">JPA</a>
                    <a class="dropdown-item" href="/spring">Spring</a>
                    <a class="dropdown-item" href="/rest">REST</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Main Content -->
<div class="main-content">
    <br>
    <br>
    <br>
    <div class="container">
        <h1>ООП</h1>
        <p>
            Объектно-ориентированное программирование — методология программирования,
            основанная на представлении программы в виде совокупности объектов.
        </p>
        <p>
            Основными принципами ооп являются:
        <ul>
            <li>Абстракция</li>
            <li>Инкапсуляция</li>
            <li>Наследование</li>
            <li>Полиморфизм</li>
        </ul>
        </p>

        <p>
            <b>Абстракция</b> - это принцип который говорит нам о том что при написании программы мы должны использовать
            только
            классы, методы и свойства нужные для ее работы.
        <p>
        <p>
            <b>Инкапсуляция</b> говорит нам о том что класс должен скрывать внутрюннюю реализацию того что не нужно
            для использования из вне.
        </p>
        <p>
            <b>Наследование</b> - возможность использовать код класса предка в классе потомке.
        </p>
        <p>
            <b>Полиморфизм</b> - возможность однотипно работать с методами разных
            классов находящихся в одной иерархии наследования или реализующих один интерфейс (@Override). Я так понимаю.
            <br>
            Однако, хорошенечко погуглив можно выяснить что понятие полиморфизм весьма перегружено и может
            подразумевать кроме того что написано выше перегрузку методов, автоприведение типов или что то вообще
            страшное.
        </p>
        <p>
            <i>Перегрузка методов</i> - возможность иметь в классе более одного метода с одним названием.
            <br>
            Входные параметры должны быть разные.
            <br>
            Реализация может отличаться.
            <br>
            Возвращать должны данные одного типа(ну или его реализации или наследники, благодаря полиморфизму как его
            понимаю я).
        </p>

        <h4>...</h4>
        <p>
            Вообще ооп - это мощно. ООП позволяет сосредоточится на том что действительно важно(абстракция),
            разделить программу на небольшие кусочки(обЬекты) отвечающие каждый за что то свое(single responsibility)
            c которыми легко работать благодаря инкапсуляции
            и переиспользовать все это(DRY) благодаря наследованию и полиморфизму.
        </p>
        <p>
            Разделяй и властвуй с легкостью тем что действительно важно не повторяя дважды.
            <br>
            Целуй медленно, уходи быстро, спи в костюме пчелы, будь счастлив.
        </p>
    </div>
</div>

<!-- Comments -->
<div>
    <div class="container">
        <h1>Комментарии</h1>

        <!-- New Comment -->
        <form action="/comments" method="post">
            <input type="number" name="id" value="0" hidden>
            <input type="text" name="pageName" value="oop" hidden>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <input type="text" class="form-control" placeholder="Автор" name="userName">
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <textarea type="text" class="form-control" placeholder="Творение" name="comment"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <button type="submit" class="btn btn-dark float-right">Смыть</button>
                </div>
            </div>
        </form>

        <!-- Saved Comments -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" th:each="comment : ${comments}">
            <h3 th:text="${comment.userName}"></h3>
            <p th:text="${comment.comment}"></p>
        </div>

    </div>
</div>

<!-- Footer -->
<footer class="container text-center">
    <p>© ProstoSasha</p>
</footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>
